.shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #577926;
  color: white;
  border-radius: 10px;
  width: 8rem;
  height:50px;
}

.icon{
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding-right: 10px;

}

.price{
  padding-left:25px;
  font-size: 16px;
}