.center-nav {
  display: flex;
  justify-content: flex-end;
  height: 12vh;
  border: 2px solid red;
}

.peapod {
  height: 52px;
  width: 162px;
}

.account {
  padding-left: 28vw;
  padding-right: 2vw;
  border: 2px solid red;
}

.sign-in a{
  text-decoration: none;
  color:green; 
}