.chatbox {
position: -webkit-sticky;
position: sticky; 
bottom: 0px;
padding-left: 65%;
display: flex;
justify-content: flex-end;
}

.box {
    height: 40%;
    width: 40%;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 



    .chatbox {
      position: -webkit-sticky;
      position: sticky; 
      bottom: 0px;
      padding-left: 65%;
      display: flex;
      justify-content: flex-end;
      }

    .box {
        height: 90%;
        width: 90%;
    }

  }