
.center-nav {
    display: flex;
    justify-content: flex-end;
    height: 12vh;
  }
  
  .peapod-Logo {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  
  .account {
    padding-left: 28vw;
    padding-right: 2vw;
  }
  
  .sign-in {
      border: none;
  }
  .sign-in a{
    text-decoration: none;
    color:#58782C; 
    
  }
.cover {
    background-image: url('https://i.imgur.com/YuqrxXU.png');
    height: 120vh;
   
}

.cover h2 {
    font-family: 'Roboto', sans-serif;
    padding: 200px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 450px;
    padding-left: 450px;
}

.cover h3 p {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 450px;
    padding-left: 450px;
}