p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin: 5px 5px;
}

.product-cards {
  box-shadow: 2px 3px 5px 1px #cecece;
  margin: 17px 17px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cards img {
  max-height: 190px;
}

.thumbnail-image {
  height: 200px;
  width: 215px;
  border: 8px solid white;
  box-sizing: border-box;
  overflow: hidden;
}

.product-info h5 {
  margin-bottom: 0;
}

.product-info p {
   padding-bottom: 20px;
   margin: 0 5px 5px 5px;
}

.price-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 20px 20px 0 20px;
}

.price-button-div button {
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  background-color: #58782c;
  font-weight: bold;
  color: #FFFFFF;
  width: 50%;
}

.price-lower {
  width: 50%;
}