.main-info-div {
  display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    width: 100%;
}

.thumbnail-image {
  height: 300px;
  width: 300px;
  border: 8px solid white;
  box-sizing: border-box;
  overflow: hidden;
}

.stack-icons-info {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.icons-div {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 75%;
}

.shopping-icon {
  height: 35px;
}

.ratings-icon {
  height: 15px;
}

.small_chat-icon {
  height: 60px;
}

.suggestions-div {
  width: 15%;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray;
}

.price-button-div-item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  padding: 20px 20px 0 20px;
}

.price-button-div-item button {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 8px;
  font-size: inherit;
  background-color: #4D6E22;
  color: #FFFFFF;
}

.info-div-sub {
  margin: 0 50px;
  font-weight: bolder;
  height: 200px;
}

.edit-delete-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.edit-link {
  padding: 2px 10px;
}

.delete-button {
  background-color: #4d6e22;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 7px;
    width: 10%;
}

.nutrition-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.nutrition-div img {
}