.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #2D2D2D;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.back-button {
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.section-title {
  width: 90%;
}

.containter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .view-all {
   display: flex;
   flex-direction: row;
 }

 .plus-sign {
  font-size: 18px;
  margin: 14px;
 }

 .headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin-left: 188px;
 }

 .entire-middle-section {
  display: flex;
  flex-direction: row;
  width: 100%;
 }

 .side-nav-section {
  width: 15%;
 }
 
 .main-section {
   display: flex;
   flex-direction: row;
   width: 100%;
 }

 .product-gallery {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    width: 95%;
 }

.add-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}