
.shopping-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: #2D2D2D;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Roboto', sans-serif; 
  text-align: center;
}

.back-button {
   width: 45px;
   height: 45px;
   margin-left: 10px;
   padding-top: 10px;

 }

.createNew {
   border: 1px solid #f4f3f4;
   background-color: #f5f5f5;
   width: 300px;
   margin-left: 0;
   margin-top: 0px;
}

.createNew p{
   font-family: 'Roboto', sans-serif;
   font-size: 19px;
   font-weight: bold;
   color: #454545;
   
}
.essentials {
   padding-right: 30px;
   font-family: 'Roboto', sans-serif;
   font-size: 10px;
}
.essentials-input {
   height: 20px;
   padding-top: 18px;
   margin-left: 10px;
   margin-bottom: 10px;

}

.create {
   height: 40px;
   width: 60px;
   padding-left: 10px;
   padding-top: 10px;
}

 .create-a-list h2 { 
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #454545
 }

 .line {
    width: 375px;
 }

 .create-a-list p {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #454545;
    margin-top: -10px;
 }

 .create-a-list h4 {
   display: flex;
   justify-content: center;
   padding-top: 20px;
   font-family: 'Roboto', sans-serif;
   font-size: 19px;
   color: #454545;
   font-weight: normal;
   margin-top: -20px
    
 }