
.shopping-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #2D2D2D;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  
}

.shopping-bar h3{
   text-align:center;
}



.h1 {
    text-align: center;
}

.create-button {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.1px;
  }

 .create-a-list h2 {
    
    padding-left: 40%;
    padding-right: 40%;
     
 }

 .create-a-list p {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-wrap: wrap;
 }