.form-container-sign-in {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 80vh;
  margin: 10vh auto;
}

.form-container-sign-in  h3{
  font-size: 32px;
  margin: 0 auto;
  padding: 30px 0;
}

.form-sign-in{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.form-sign-in label {
  font-size: 18px;
}

.form-sign-in input {
  width: 32vw;
  height: 6vh;
  margin-bottom: 20px;
}

.sign-in{
  font-size: 24px;
  width: 272px;
  height: 52px;
  margin: 0 auto;
  color: rgb(73, 126, 19);
  border: 2px solid rgb(73, 126, 19);
  margin-top: 25px;
}