.propsName{
    border: 1px solid black;
    max-width: 190px;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li{
    padding: 5px;
}