.dd-dropdown {
    overflow-y: scroll;
    max-height: 300px;
}

.arrivals{
    border:1px solid black;
    max-width: 190px;
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.organic{
    border:1px solid black;
    max-width: 190px;
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
}



.produce-list {
    padding: 0px;
    margin: 0px;
    
}


.side-produce, .side-meat, .side-seafood, .side-meal-kits, .side-deli, .side-dairy, .side-beverages, .side-bread{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    max-width: 190px;
    list-style: none;
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 0px 0px;
    align-items: center;
    
}



.dd-dropdown a {
    text-decoration: none;
    color: black;
}

.produce-class, .meat-class, .seafood-class, .kits-class, .deli-class, .dairy-class, .beverages-class, .bread-class{
   height: 30px;
   width: 30px;
   object-fit: cover;
   padding-right: 15px;
   padding-left: 5px;
}

h3{
    font-weight: lighter;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
    .dd-dropdown {
        overflow-y: scroll;
        max-height: 300px;
    }
 
.arrivals{
    border:1px solid black;
    max-width: 375px;
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.organic{
    border:1px solid black;
    max-width: 375px;
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.side-produce, .side-meat, .side-seafood, .side-meal-kits, .side-deli, .side-dairy, .side-beverages, .side-bread{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    max-width: 375px;
    list-style: none;
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 0px 0px;
    align-items: center;
    
}


    
    
    
}
